* {
    box-sizing: border-box;
    margin: 0;
}

footer {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.subscribe.form {
    width: 100%;
}

form input {
    width: 100%;
    background-color: inherit;
    color: aliceblue;
    border-radius: 5px;
}

form input[type="email"] {
    padding: 5px;
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

form input[type="button"] {
    padding: 5px;
}

.gray {
    color: rgb(83, 77, 77);
}

.col-5 {
    max-width: 20%;
}

.col-3 {
    width: 27%;
}

.col-1 {
    width: 100%;
}

.p-1 {
    padding-top: 40px;
    padding-bottom: 40px;
}